@tailwind base;
@tailwind components;
@tailwind utilities;





@layer base {

  html,
  body {

    @apply bg-gray-200;
    @apply w-[100%];
    @apply h-[100%];


  }
}


@layer utilities {
  html {
    font-family: "DM Sans", sans-serif;
  }

  .nav {
    width: 100%;
    height: 60px;
    position: relative;
    border-bottom-width: 1.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.4rem;
    margin: auto;

  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.05rem;
    position: absolute;
    right: 50px;
    margin-right: 3rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .nav-links-hide {
    display: none;
  }

  .mob-menu {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 50%;
    text-transform: capitalize;

  }

  .mob-menu-hide {
    display: none;
  }

  .mob-menu-bars {
    width: 65%;
    height: 2px;
    border-radius: 5px;


  }

  .mob-nav-links {
    width: 100%;
    
    position: absolute;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    background-color: rgba(30, 30, 30, 0.903);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: ghostwhite;
    gap: 2rem;
    text-transform: capitalize;
    z-index: 3
  }

  .mob-nav-links-hide {
    display: none;

  }

  .dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .menu-container {
    width: 100%;
    min-height: 100vh;

  }

  .mob-pizza-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 5px;
    row-gap: 2rem;
    place-items: center;
    transition: all 200ms linear;
  }

  .pizza-card {
    width: 98%;
    height: 300px;
    /* border:2px solid black; */
    background-color: ghostwhite;
    transition: all 200ms linear;
  }

  .mob-pizza-card {
    width: 95%;
    height: 53vw;
    /* border:2px solid black; */

    border-radius: 20px;
    overflow: hidden;
    background-color: ghostwhite;
  }

  .pizza-card:hover {
    transform: translateY(-1%);
    cursor: pointer;
  }

  .dark-mob-pizza-card,
  .dark-pizza-card {
    background-color: rgb(93, 93, 93);
    /* color:ghostwhite */
  }

  .circle {
    border-radius: 50%;
    border: 0.5px solid gray
  }

  .theme-btn:hover {
    cursor: pointer;
  }

  .theme-btn {
    animation: appear 800ms linear forwards;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }

  }

  .dark {
    background-color: #171D1C;
    color: ghostwhite;
  }

  .dark2 {
    background-color: #374143;
  }

}